{% extends 'base/base.html' %}
{% block content %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="font-weight-bold" style="font-size: 8rem;">404</div>
                <p class="empty-title">Ой... сіз қате бетті таптыңыз</p>
                <p class="empty-subtitle text-muted">
                    Кешіріңіз, бірақ сіз іздеген бет табылмады
                </p>
                <div class="empty-action">
                    <a href="{% url 'main_page' %}" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M5 12l6 6"></path>
                            <path d="M5 12l6 -6"></path>
                        </svg>
                        Басты бетке қайту
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}