<!DOCTYPE html>
<html lang="kk">
{% load static %}
<head>
    <meta name="description" content="Event Dashboard"/>
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:site" content="JOO High School"/>
    <meta property="twitter:creator" content="JOO High School"/>
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="JOO High School"/>
    <meta property="og:title" content="JOO Informatics"/>
    <meta property="og:url" content="https://joohs.jcloud.kz/"/>
    <meta property="og:image" content="{% static 'images/logo-dark.svg' %}"/>
    <meta property="og:description" content="JOO Informatics"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="{% static 'Tabler/dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Tabler/dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Tabler/dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Tabler/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Tabler/dist/css/demo.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="{% static 'calendar/vanilla-calendar.min.css' %}"/>
    <link href="{% static 'calender/main.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/7td4b3p4zag9jdaz2ot398ds5hhtbq0x6u7z0aurdm6o8old/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <!-- Main CSS-->
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>#}
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block extracss %}
    {% endblock extracss %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block content %}
{% endblock %}
<!-- Libs JS -->
{% include "base/toasts.html" %}
{% include 'base/js.html' %}
{% block extrascripts %}
{% endblock extrascripts %}

</body>
</html>
