{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% load quiz_tags %}
{% block content %}
    <div class="wrapper">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="{% url 'dashboard' %}">
                        <img src="{% static 'images/logo-light.svg' %}" width="110" height="110" alt="Tabler"
                             class="navbar-brand-image">
                    </a>
                </h1>
                <div class="navbar-nav flex-row d-lg-none">
                </div>
                {% include 'base/sidebar.html' %}
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->

            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="col px-md-4">
                                <div class="row align-items-center gap-2">
                                    <div class="col-auto d-flex align-items-center gap-4 bg-muted-lt rounded ps-0 pe-4"
                                         style="border-radius: 12px!important; border: 1px solid #C1C1C1">
                                                <span class="avatar avatar-lg bg-cyan"
                                                      style="background: url('{{ request.user.profile.picture.url }}') no-repeat center; background-size: cover;border-radius: 12px!important;"></span>
                                        <div>
                                            <h2 class="m-0">
                                                <a href="{% url 'users:profile' user.id %}"
                                                   class="text-edu-primary">{{ user.first_name }} {{ user.last_name }}</a>
                                            </h2>
                                            <div class="text-muted">
                                                {% if request.user|has_group:"Moderators" %}
                                                    Модератор
                                                {% elif request.user|has_group:"Students" %}
                                                    Оқушы
                                                {% elif request.user|has_group:"Teachers" %}
                                                    Мұғалім
                                                {% else %}
                                                    Админ
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg p-0">

                                        <form class="input-group mb-2 search-bar ms-auto" action="{% url 'searchbar' %}"
                                              method="get">
                                            <div class="container p-0" style="width: 120px">
                                                {{ search_form.page }}
                                            </div>
                                            {{ search_form.q }}
                                            <button class="btn btn-dark p-2 bg-edu-primary" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-search m-0" width="40"
                                                     height="40" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="#fff" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                    <path d="M21 21l-6 -6"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-4 px-md-4">
                                {% block body %}

                                {% endblock %}
                            </div>
                        </div>
                        <div class="col-auto right-sidebar d-none d-md-block">
                            <h2><a href="{% url 'calendarapp:calendar' %}">Күнтізбе</a></h2>
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="w-100 vanilla-calendar" id="calendar-kz-lang">

                                </div>
                            </div>
                            <h2 class="mt-2"><a href="{% url 'calendarapp:calendar' %}">Тапсырмалар</a></h2>
                            <div class="card tasks">
                                {% for event in running_events %}
                                    {% if event.assignment %}
                                        <div class="list-group-item">
                                            <div class="row align-items-center">
                                                <div class="col-4 text-center">
                                                    <h2 class="text-reset mb-0">{{ event.assignment.deadline|date:"G:i" }}</h2>
                                                    <h3 class="mb-0 ">{{ event.assignment.deadline|date:"d.m" }}</h3>
                                                </div>
                                                <div class="col-auto"><span class="badge" style="height: 2rem;background-color: {{ event.assignment.deadline|event_color }}"></span></div>
                                                <div class="col text-truncate">
                                                    <a href="{% if event.url %}{{ event.url }}{% else %}#{% endif %}"
                                                       class="text-reset d-block">{{ event.assignment.title }}</a>
                                                    <div class="d-block text-muted text-truncate mt-n1">Үй жұмысы
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif event.quiz %}
                                        <div class="list-group-item">
                                            <div class="row align-items-center">
                                                <div class="col-4 text-center">
                                                    <h2 class="text-reset mb-0">{{ event.quiz.end_time|date:"G:i" }}</h2>
                                                    <h3 class="mb-0 ">{{ event.quiz.end_time|date:"d.m" }}</h3>
                                                </div>
                                                <div class="col-auto"><span class="badge"
                                                                            style="height: 2rem; background-color: {{ event.quiz.end_time|event_color }}"></span>
                                                </div>
                                                <div class="col text-truncate">
                                                    <a href="{% if event.url %}{{ event.url }}{% else %}#{% endif %}"
                                                       class="text-reset d-block">{{ event.quiz.title }}</a>
                                                    <div class="d-block text-muted text-truncate mt-n1">Бақылау
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}