{% extends 'problems/problems_base.html' %}
{% block problem_content %}
    <div class="container my-5">
        <h1><a href="{% url 'problem-detail' problem.slug %}">
            {{ problem.title }}{% if is_accepted %} (Solved){% endif %}</a></h1>
        <div class="row">
            <div class="collapse col col-md-4 show" id="desc_collapse">
                <card class="card-body">
                    <h4>Description:</h4>
                    <p>{{ problem.description|safe }}</p>
                    <h4>Explanation:</h4>
                    <p>{{ problem.explanation|safe }}</p>
                </card>
            </div>
            <div class="col">
                <a class="header_toggle" data-bs-toggle="collapse" href="#desc_collapse" role="button"
                   aria-expanded="true" aria-controls="collapseExample"><i class='bx bx-area'></i>
                </a>
                <form id="form_code" action="{% url 'submit' problem.slug %}" method="post" class="form-row">
                    {% csrf_token %}
                    <textarea class="form-control" name="code" id="id_code" required
                    >{% if code %}{{ code }}{% elif problem.submission_set.exists %}
                        {{ problem.submission_set.last.source_code }}{% elif problem.base_code %}
                        {{ problem.base_code }}{% endif %}</textarea>
                    <div class="row">
                        <div class="col mt-4">
                            <textarea class="form-control" name="test" id="id_test" rows="1"
                                      placeholder="Test Input:">{% if input %}{{ input }}{% endif %}</textarea>
                            {% if output %}
                                <h4 class="mt-2">Output:</h4>
                                <pre><code>{{ output }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="col col-auto">
                            <button type="submit" class="btn btn-primary mt-4 float-end ms-3">Submit code</button>
                            <button type="submit" class="btn btn-outline-success mt-4 float-end ms-3" id="run-tests-btn"
                                    data-action="{% url 'run_tests' problem.slug %}">Run Tests
                            </button>
                            <button type="submit" class="btn btn-secondary mt-4 float-end ms-3" id="run-test-btn"
                                    data-action="{% url 'test' problem.slug %}">Test
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="mt-4">
            {% if statuses %}
                <h3>Test Cases:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Output</th>
                        <th scope="col">Expected Output</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in statuses %}
                        {% if status.status.id == 4 %}
                            <tr class="table-warning">
                                <td>{{ status.status.description }}</td>
                                <td>
                                    <pre><code>{{ status.output }}</code></pre>
                                </td>
                                <td>
                                    <pre><code>{{ status.expected_output }}</code></pre>
                                </td>
                            </tr>
                        {% elif status.status.id == 3 %}
                            <tr class="table-success">
                                <td>
                                    <pre><code>{{ status.status.description }}</code></pre>
                                </td>
                                <td>
                                    <pre><code>{{ status.output }}</code></pre>
                                </td>
                                <td>
                                    <pre><code>{{ status.expected_output }}</code></pre>
                                </td>
                            </tr>
                        {% elif status.status.id == 11 %}
                            <tr class="table-danger">
                                <td>{{ status.status.description }}</td>
                                <td>
                                    <pre><code>{{ status.output }}</code></pre>
                                </td>
                                <td>
                                    <pre><code>{{ status.expected_output }}</code></pre>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if problem.submission_set.exists %}


                <h2>Submissions:</h2>
                <div class="accordion" id="accordionExample">
                {% for sub in problem.submission_set.all %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                    aria-controls="collapse{{ forloop.counter }}">
                                Submission #{{ forloop.counter }} | {{ sub.created_at }} {% if sub.is_accepted %}
                                <span class="text-success ms-2"><i class='bx bx-check-circle'></i></span>
                            {% else %}
                                <span class="text-danger ms-2"><i class='bx bx-x-circle'></i></span>
                            {% endif %}
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}"
                             class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                             aria-labelledby="heading{{ forloop.counter }}"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <pre><code>{{ sub.source_code }}</code></pre>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"
            integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"
            integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        runTestsBtn = document.querySelector('#run-tests-btn')
        form = document.querySelector('form#form_code')
        runTestsBtn.addEventListener('click', (e) => {
            e.preventDefault();
            form.setAttribute('action', runTestsBtn.dataset.action)
            form.submit();
        });
        testBtn = document.querySelector('#run-test-btn')
        testBtn.addEventListener('click', (e) => {
            e.preventDefault();
            let input_value = document.querySelector('#id_test').value
            if (input_value === '') {
                alert("Please, fill Test Input field")
            } else {
                form.setAttribute('action', testBtn.dataset.action)
                form.submit();
            }
        })
        myTextArea = document.querySelector('textarea#id_code')
        let myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            mode: "python",
            theme: "dracula"
        });
    </script>
{% endblock %}