{% load widget_tweaks %}
{% load quiz_tags %}
{% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
    <form class="form-control my-4" hx-post="{% url 'assignments:add_assignment' %}" hx-target="#list-with-form"
          _="on htmx:afterRequest reset() me">
        <h2>Үй жұмысын қосу</h2>
        <div class="mb-1">
            <label class="form-label">Атауы:
                {% render_field form.title class="form-control" placeholder="Үшінші сабақ үй жұмысы" %}
            </label></div>

        <div class="mb-1">
            <label class="form-label">Қысқаша түсіндірме:
                {% render_field form.description class="form-control" rows=4 %}
            </label>
        </div>
        <div class="mb-1">
            <label class="form-label">Тапсыру уақыты:
                {% render_field form.deadline class="form-control" type="datetime-local" %}
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Жариялау</button>
    </form>
{% endif %}