{% extends 'base/content.html' %}
{% load widget_tweaks %}
{% load static %}
{% load quiz_tags %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-duration-picker.css' %}">
{% endblock %}
{% block body %}
    <h1>Бақылау</h1>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 my-4">
            <img src="{% static 'images/alua2.svg' %}" width="100%"/>
        </div>
    </div>
    <div class="card">
        <div class="card-body border-bottom py-3">
            <div class="d-flex">
                <div class="text-muted">
                    <span class="text-edu-primary">{{ quizzes.count }}</span>
                    бақылау табылды
                </div>
                <div class="ms-auto text-muted d-inline-block">

                    <form method="get" action="{% url 'searchbar' %}" class="ms-2 input-group">
                        <span class="me-2">Іздеу:</span>
                        <input type="text" class="d-none" name="page" value="quiz">
                        {% render_field search_form.q class="form-control form-control-sm" %}
                        <button type="submit" class="btn btn-sm btn-dark bg-edu-primary btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="icon icon-tabler icon-tabler-search m-0" width="40"
                                 height="40" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="#fff" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                <path d="M21 21l-6 -6"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table
                    class="table table-vcenter card-table">
                <thead class="bg-edu-primary">
                <tr>
                    <th>Атауы</th>
                    <th>Басталу Уақыты:</th>
                    <th>Аяқталу Уақыты:</th>
                    <th>Уақыт Ұзақтығы:</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="quizzes-tbody">
                {% include 'quiz/partials/quizzes-tbody.html' %}
                </tbody>
            </table>
        </div>
    </div>
    {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
        <div class="modal" tabindex="-1" id="addQuiz">
            {% include 'quiz/partials/quiz-add-form.html' %}
        </div>
        <div class="modal" tabindex="-1" id="addQuestion">
            <form action="{% url 'quiz:quiz_list' %}" method="post" class="modal-dialog" style="max-width: 1200px"
                  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Сұрақ қосу</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ question_form.as_p }}
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/plugins/bootstrap-duration-picker.js' %}"></script>
    <script>
        tinymce.init({
            height: '160',
            selector: 'textarea',
            menu: {},
            menubar: '',
            plugins: 'autolink charmap emoticons link lists',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            },
        });
        document.querySelectorAll('[data-duration]').forEach((element, index) => {
            let date = moment.duration({seconds: element.dataset.duration});

            let text = ""
            if (date.days() > 0) {
                text += date.days() + " күн "
            }
            if (date.hours() > 0) {
                text += date.hours() + " сағат "
            }
            if (date.minutes() > 0) {
                text += date.minutes() + " минут "
            }
            if (date.seconds() > 0) {
                text += date.seconds() + " секунд"
            }
            element.innerHTML = text;
        });

        $('#duration').durationPicker({
            translations: {
                day: 'күн',
                hour: 'сағат',
                minute: 'минут',
                second: 'секунд',
                days: 'күн',
                hours: 'сағат',
                minutes: 'минут',
                seconds: 'секунд',
            }
        });
    </script>
{% endblock %}