{% extends 'base/content.html' %}
{% block body %}
    <h1>{{ quiz.title }}</h1>
    <h2>Are your Ready Testing?</h2>
    <p>{{ quiz.description }}</p>
    <p>Start time: {{ quiz.start_time }}</p>
    <p>End time: {{ quiz.end_time }}</p>
    <p>Passing percentage: {{ quiz.pass_mark }}%</p>
    <p>Question order: {% if quiz.random_order %}random {% else %}content{% endif %}</p>
    <p>Maximum attempts allowed: {{ quiz.max_attempts }}</p>
    <p>You spend: {{ quiz.attempts.count }}</p>
    <p>{% if attempts %}
        <h5>Your attempts:</h5>
        <ul>
            {% for attempt in attempts.all %}
                <li>#{{ forloop.counter }}: {{ attempt.percentage }}%
                    correct | {{ attempt.is_passed|yesno:"Passed, Failed" }}</li>
            {% endfor %}

        </ul>
    {% endif %} </p>
    {% if can_attempt %}

        <a class="btn btn-primary"
           href="{% url 'quiz:attempt' quiz.url %}">Attempt</a>
    {% else %}
        <a tabindex="-1" aria-disabled="true" role="button" data-bs-toggle="button" class="btn btn-primary disabled"
           href="{% url 'quiz:attempt' quiz.url %}">Attempt</a>
    {% endif %}
{% endblock %}