{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/regis.css' %}">
{% endblock %}
{% block content %}
    <div class="container" id="container">

        <div class="form-container sign-up-container">


            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                <img src="{% static 'images/logo-dark.svg' %}" height="120px"/>

                <input type="text" placeholder="Аты" name="first_name" required=""
                       id="id_first_name"/>
                <input type="text" placeholder="Тегі" name="last_name" required=""
                       id="id_last_name"/>
                <input type="email" placeholder="Электрондық пошта" name="email"
                       autocomplete="email" required=""
                       id="id_email"/>
                <input type="password" placeholder="Құпиясөз"
                       name="password1" autocomplete="new-password" required=""
                       id="id_password1"/>
                <input type="password" placeholder="Құпиясөзді растау"
                       name="password2" autocomplete="new-password" required=""
                       id="id_password2"/>


                <button class="reg" id="add" type="submit" style="cursor: pointer;">Тіркелу</button>
                <label>Тіркелгенсіз бе? <a href="{{ login_url }}">Кіру</a></label>
                <label>«Тіркелу» батырмасын басу арқылы сіз <a href="#">Пайдаланушы келісімінде</a>
                    көрсетілген шарттармен келісесіз</label>


            </form>

        </div>

    </div>

{% endblock %}
