{% load widget_tweaks %}
<form method="post" hx-post="{% url 'users:change_password' %}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Құпия сөзді өзгерту</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Жабу"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3 align-items-end">
            <div class="col">
                <label class="form-label required"
                       for="id_old_password">{{ password_form.old_password.label }}</label>
                {% if password_form.old_password.errors %}
                    {% render_field password_form.old_password class="form-control is-invalid" %}
                    <div class="invalid-feedback">{{ password_form.old_password.errors }}</div>
                {% else %}
                    {% render_field password_form.old_password class="form-control" %}
                {% endif %}
            </div>

        </div>
        <div class="row mb-3 align-items-end">
            <div class="col">
                <label class="form-label required"
                       for="id_new_password1">{{ password_form.new_password1.label }}</label>
                {% if password_form.new_password1.errors %}
                    {% render_field password_form.new_password1 class="form-control is-invalid" %}
                    <div class="invalid-feedback">{{ password_form.new_password2.errors }}</div>
                {% else %}
                    {% render_field password_form.new_password1 class="form-control" %}
                {% endif %}
            </div>

        </div>
        <div class="row mb-3 align-items-end">
            <div class="col">
                <label class="form-label required"
                       for="id_new_password2">{{ password_form.new_password2.label }}</label>
                {% if password_form.new_password2.errors %}
                    {% render_field password_form.new_password2 class="form-control is-invalid" %}
                    <div class="invalid-feedback">{{ password_form.new_password2.errors }}</div>
                {% else %}
                    {% render_field password_form.new_password2 class="form-control" %}
                {% endif %}
            </div>
        </div>
        <ul>
            <li>Құпия сөзіңіз басқа жеке ақпаратыңызға тым ұқсас болмауы керек.</li>
            <li>Құпия сөзіңізде кемінде 8 таңба болуы керек.</li>
            <li>Сіздің құпия сөзіңіз жиі қолданылатын құпия сөз бола алмайды.</li>
            <li>Сіздің пароліңіз толығымен сандық болуы мүмкін емес.</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Жабу</button>
        <button type="submit" class="btn btn-primary" id="btn-password-change"
                {% if success %}data-success{% endif %}>Өзгерту
        </button>
    </div>
</form>