{% load humanize %}
{% load quiz_tags %}
{% load static %}
<h2 class="m-3">Leaderboard</h2>
<div class="card m-3">
    <div class="card-header gap-2">
        <h3 class="card-title">Leaderboard</h3><span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="<p class='mb-0'>Бұл тақтада Бақылау мен Үй жұмысы тапсырмаларының жалпы нәтижесі көрестілген</p>">?</span>
        <p class="card-subtitle">Сіз
            {% for user in leaderboard %}{% if user.email == request.user.email %}{{ forloop.counter|make_ordinal_kz }}
            {% endif %}{% endfor %} орындасыз</p>
    </div>
    <div class="list-group list-group-flush list-group-hoverable">
        {% for user in leaderboard %}
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto"
                         style="font-weight: bold; font-size: 2rem;">{{ forloop.counter }}
                    </div>
                    <div class="col-auto">

                            <span class="avatar"
                                  style="background-image: url('{% get_media_prefix %}{{ user.picture }}')"></span>
                    </div>
                    <div class="col text-truncate">
                        <h3
                                class="text-reset d-block">{{ user.first_name }} {{ user.last_name }}</h3>
                        <div class="d-block text-muted text-truncate mt-n1">
                            {{ user.email }}
                        </div>

                        <div class="d-block text-muted text-truncate mt-n1">
                            Балл: {{ user.score }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{#<ol>#}
{#    {% for user in leaderboard %}#}
{#        {% if request.user.email == user.email %}#}
{#            <li class="text-secondary">{{ user.first_name }}: {{ user.score }}</li>#}
{#        {% else %}#}
{#            <li>{{ user.first_name }}: {{ user.score }} <img src="{% get_media_prefix %}{{ user.picture }}"#}
{#                                                             alt="">#}
{#            </li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#</ol>#}