{% extends 'base/content.html' %}
{% load widget_tweaks %}
{% load quiz_tags %}
{% block extracss %}
{% endblock %}
{% block body %}

    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">{{ assignment.title }}</h3>
            {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
                <a href="{% url 'assignments:change-assignment' assignment.pk %}" class="btn ms-2">Өзгерту</a>
            {% endif %}
            {% if assignment.is_passed %}
                <span class="badge bg-orange ms-auto">Тапсыру мерзімі аяқталды!</span>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="h3 fw-normal mb-4 text-muted">{{ assignment.description|safe }}</div>
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Басталу Уақыты</div>
                    <div class="datagrid-content">{{ assignment.created_at|date:"d F, H:i" }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Тапсыру Уақыты</div>
                    <div class="datagrid-content">{{ assignment.deadline|date:"d F, H:i" }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Қалған Уақыт</div>
                    <div class="datagrid-content"
                         _="init js return moment('{{ assignment.deadline.isoformat }}').fromNow() end then put it into me">{{ assignment.deadline|date:"d F, H:i" }}</div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user|has_group:"Students" %}
        <div id="assignment-submit-body">
            {% include 'assignment/partials/assignment-submit-body.html' %}
        </div>
    {% endif %}
    {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
        {% if formset.forms %}
            <h1>{{ assignment.title }} бағалау</h1>
            <form method="post" action="{% url 'assignments:grade_submissions' assignment.id %}">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table table-hover table-vcenter">
                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead class="bg-edu-primary">
                            <tr>
                                <th class="w-1">№</th>
                                <th>Қолданушы</th>
                                {% for field in form.visible_fields %}
                                    <th {% if forloop.last %}style="width: min-content" {% endif %}>{{ field.label|capfirst }}
                                    </th>
                                {% endfor %}
                                <th class="w-1">Файлдар</th>
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ form.instance.user }}</td>
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {% render_field field class="form-control" %}
                                </td>
                            {% endfor %}
                            <td>
                                <a href="{% url 'assignments:download_to_zip' assignment_id=assignment.id user_id=form.instance.user.id %}"
                                   class="btn btn-icon btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-file-zip"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                         stroke="currentColor"
                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 20.735a2 2 0 0 1 -1 -1.735v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-1"></path>
                                        <path d="M11 17a2 2 0 0 1 2 2v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-2a2 2 0 0 1 2 -2z"></path>
                                        <path d="M11 5l-1 0"></path>
                                        <path d="M13 7l-1 0"></path>
                                        <path d="M11 9l-1 0"></path>
                                        <path d="M13 11l-1 0"></path>
                                        <path d="M11 13l-1 0"></path>
                                        <path d="M13 15l-1 0"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="d-flex">
                    <button class="btn ms-auto" type="submit">Сақтау</button>
                </div>
            </form>
        {% else %}
            <h2 class="text-center text-muted">Әлі ешкім үй жұмысын тапсырмады</h2>
        {% endif %}
    {% endif %}

{% endblock %}
{% block extrascripts %}
    <script>
        tinymce.init({
            height: '160',
            selector: 'textarea',
            menu: {},
            menubar: '',
            plugins: 'autolink charmap emoticons link lists',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            },
        });
    </script>
    <script>
        function reinit() {
            tinymce.remove()
            tinymce.init({
                height: '160',
                selector: 'textarea',
                menu: {},
                menubar: '',
                plugins: 'autolink charmap emoticons link lists',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
                setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                },
            });
            console.log('fesfs');
        }

        function form_on_change(form) {
            let selected = form.querySelectorAll('input[type=checkbox][name=bulk_file]:checked').length;
            let all_options = form.querySelectorAll('input[type=checkbox][name=bulk_file]').length;
            let select_all_checkbox = document.querySelector('#select-all');
            let submit_button = document.querySelector('#submit-btn');
            let selected_counter = document.querySelector('#selected_counter');
            selected_counter.innerText = selected;
            if (selected > 0) {
                submit_button.classList.remove('disabled')

            } else {
                select_all_checkbox.checked = false;
                submit_button.classList.add('disabled');
            }
            select_all_checkbox.checked = all_options === selected;
        }

        function select_all_checkbox_func(select_all_checkbox) {
            let form = document.querySelector('#bulk_form');
            if (select_all_checkbox.checked) {
                form.querySelectorAll('input[type=checkbox]').forEach((element) => {
                    element.checked = true;
                });
            } else {
                form.querySelectorAll('input[type=checkbox]').forEach((element) => {
                    element.checked = false;
                });
            }
        }
    </script>
{% endblock %}