{% extends 'base/content.html' %}
{% load quiz_tags %}
{% load widget_tweaks %}
{% block body %}
    {% include 'assignment/partials/asignments-body.html' %}
{% endblock %}
{% block extrascripts %}
    <script>
        tinymce.init({
            height: '160',
            selector: 'textarea',
            menu: {},
            menubar: '',
            plugins: 'autolink charmap emoticons link lists',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            },
        });


        function reinitialize() {
            {#tinymce.execCommand('mceRemoveControl', true, '#change-form-textarea');#}
            try {
                tinymce.remove('textarea');
            } catch (e) {
            }
            tinymce.init({
                height: '160',
                selector: 'textarea',
                menu: {},
                menubar: '',
                plugins: 'autolink charmap emoticons link lists',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
                setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                },
            });
            $("#datetimepicker1").flatpickr({
                minDate: new Date(),
                enableTime: true,
                dateFormat: "Y-m-d H:m",
            });
        }

        $("#datetimepicker1").flatpickr({
            minDate: new Date(),
            enableTime: true,
            dateFormat: "Y-m-d H:m",

        });

        function geTimeUntil(datetime) {
            return moment(datetime).fromNow();
        }

    </script>
{% endblock %}