{% extends 'base/content.html' %}
{% load quiz_tags %}
{% block body %}
    <h1>{{ assignment.title }}</h1>
    <div class="card mb-3">
        <div class="card-header card-title"><h3>Файл жүктеу <span
                class="card-subtitle">{{ assignment.description|safe }}</span></h3></div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data"
                  hx-post="" hx-target="#submissions" hx-encoding="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="id_assignment" value="{{ assignment.id }}" class="form-control"
                       name="assignment">
                <input type="hidden" id="id_user" value="{{ request.user.id }}" class="form-control"
                       name="user">
                <div class="mb-3">
                    <label class="form-label" for="id_files"></label>
                    <input type="file" id="id_files" value="{{ assignment.id }}" class="form-control" name="files"
                           multiple>
                </div>
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}

                <button type="submit" class="btn btn-outline-danger">Тапсыру</button>
            </form>
        </div>
    </div>
    {% if submissions %}
        <div class="card">
            <div class="card-header card-title">Жүктелген файлдар
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                        <thead>
                        <tr>
                            <th>Атауы</th>
                            <th>Мерзімі</th>
                            <th>Шолу</th>
                            <th>Жою</th>
                            <th class="w-1"></th>
                        </tr>
                        </thead>
                        <tbody id="submissions">
                        {% include 'assignment/partials/assignment-submissions-tbody.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
        {% for submission in assignment.assignmentsubmission_set.all %}

        {% endfor %}

    {% endif %}
{% endblock %}