{% extends 'dashboard.html' %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block quiz_content %}
<h1 class=".bg-edu-primary py-3 px-2">Тестілеу</h1>
{% if quiz_list %}
<div class="card">
    <div class="table-responsive">
        <table
                class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Атауы</th>
                <th>Санат</th>
                <th>Емтихан</th>
                <th>Тапсыруға жалғыз мүмкіндік</th>
                <th class="w-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quiz_list %}

            <tr>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.category }}</td>
                <td>{{ quiz.exam_paper|yesno:"Ия,Жоқ" }}</td>
                <td>{{ quiz.single_attempt|yesno:"Ия,Жоқ" }}</td>
                <td>
                    <a href="{% url 'quiz_start_page' slug=quiz.url %}">
                        Мәліметтерді қарау
                    </a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>Тесттер жоқ</p>
{% endif %}
{% endblock %}
