{% extends 'dashboard.html' %}
{% load i18n %}
{% load humanize %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block quiz_content %}
<h1 class=".bg-edu-primary py-3 px-2">{{ quiz.title }}</h1>
<h3>Санат: {{ quiz.category }}</h3>
{% if quiz.single_attempt %}
<h4>Сізде бұл сынақтан өтуге бір ғана мүмкіндік болады.</h4>
{% endif %}
<p>{{ quiz.description }}</p>
<p>
    <a class="btn btn-primary" href="{% url 'quiz_question' quiz_name=quiz.url %}">
        Тестілеуді бастау
    </a>
</p>
{% endblock %}
