{% extends 'base/content.html' %}
{% load quiz_tags %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block extracss %}


    <script src="https://cdn.tiny.cloud/1/7td4b3p4zag9jdaz2ot398ds5hhtbq0x6u7z0aurdm6o8old/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <style>
        .file-upload {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid #FFFFFF;
            overflow: hidden;
            background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
            background-size: 100% 200%;
            color: #FFFFFF;
            font-size: 100px;
        }

        .file-upload input[type=file] {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block body %}
    <h1 class="py-3 px-2">Курс материалдары</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab-lessons" class="nav-link active">
                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                Сабақтар
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-books" class="nav-link">
                <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                Оқулықтар</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-lessons">
                {% include 'diploma_backend/partials/lessons-form.html' %}
                <div class="row row-cards" id="lessons">
                    {% include 'diploma_backend/partials/lessons-list.html' %}
                </div>
            </div>
            <div class="tab-pane" id="tab-books">
                {% include 'diploma_backend/partials/books-form.html' %}
                <div class="row row-cards" id="books">
                    {% include 'diploma_backend/partials/books-list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script>

        tinymce.init({
            height: '160',
            selector: '#add-lesson-textarea',
            menu: false,
            menubar: '',
            plugins: 'autolink charmap emoticons link lists',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
        });

        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
        });
    </script>

{% endblock %}
