{% extends 'base/content.html' %}
{% load quiz_tags %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block extracss %}
    <style>
        #books .card {
            max-width: 350px;
        }

        @media (max-width: 1470px) {
            #books > .col-sm-12 {
                flex: 0 0 auto;
                width: 33.333333%;
            }
        }

        @media (max-width: 1230px) {
            #books > .col-sm-12 {
                flex: 0 0 auto;
                width: 50%;
            }
        }

        @media (max-width: 576px) {
            #books > .col-sm-12 {
                flex: 0 0 auto;
                width: 100%;
                max-width: 100%;
            }
            #books .card {
                margin: 0 auto;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <h1 class="py-3 px-2">Курс материалдары</h1>
    <ul class="nav nav-tabs lesson-tabs">
        <li class="nav-item">
            <a href="#tab-lessons" class="nav-link active">
                <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                Сабақтар
            </a>
        </li>
        <li class="nav-item">
            <a href="#tab-books" class="nav-link">
                <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                Оқулықтар</a>
        </li>
    </ul>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-lessons">
                {% include 'diploma_backend/partials/lessons-form.html' %}
                <div class="row row-cards" id="lessons">
                    {% include 'diploma_backend/partials/lessons-list.html' %}
                </div>
            </div>
            <div class="tab-pane" id="tab-books">
                {% include 'diploma_backend/partials/books-form.html' %}

                <div class="row row-cards" id="books">
                    {% include 'diploma_backend/partials/books-list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script>
        tinymce.init({
            height: '160',
            selector: 'textarea',
            menu: {},
            menubar: '',
            plugins: 'autolink charmap emoticons link lists',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            },
        });
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
        });
    </script>
    <script>
        function changeInput(event) {
            console.log(event);
            let reader = new FileReader();
            reader.onload = (e) => {
                let output = event.target.parentNode;
                output.style.background = `url("${reader.result}")`;
                output.style.backgroundRepeat = 'no-repeat';
                output.style.backgroundSize = 'cover';
                output.style.backgroundOrigin = 'center';
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        function reinitialize() {
            {#tinymce.execCommand('mceRemoveControl', true, '#change-form-textarea');#}
            try {
                tinymce.remove('textarea');
            } catch (e) {
            }
            tinymce.init({
                height: '160',
                selector: 'textarea',
                menu: {},
                menubar: '',
                plugins: 'autolink charmap emoticons link lists',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image',
                setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                },
            });
        }

        function changeInputElem(element) {
            let reader = new FileReader();
            reader.onload = (e) => {
                let output = element.parentNode;
                output.style.background = `url("${reader.result}")`;
                output.style.backgroundRepeat = 'no-repeat';
                output.style.backgroundSize = 'cover';
                output.style.backgroundOrigin = 'center';
            }
            reader.readAsDataURL(element.files[0]);
        }

    </script>

    <script>
        lessonsInput = document.querySelector('#lesson-banner-input');
        lessonsInput.addEventListener('change', changeInput);
    </script>
    <script>
        booksInput = document.querySelector('#book-banner-input');
        booksInput.addEventListener('change', changeInput);
    </script>

{% endblock %}
