{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load quiz_tags %}
{% block extracss %}
{% endblock %}
{% block content %}

    <div class="wrapper">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="{% url 'dashboard' %}">
                        <img src="{% static 'images/logo-light.svg' %}" width="110" height="110" alt="Tabler"
                             class="navbar-brand-image">
                    </a>
                </h1>
                <div class="navbar-nav flex-row d-lg-none">
                </div>
                {% include 'base/sidebar.html' %}
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->

            </div>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="col mt-4">
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col-3 d-none d-md-block border-end">
                                            <div class="card-body">
                                                <h4 class="subheader">Жеке ақпарат</h4>
                                                <div class="list-group list-group-tabs list-group-transparent"
                                                     data-bs-toggle="tabs">
                                                    <a href="#my-profile" data-bs-toggle="tab"
                                                       class="list-group-item list-group-item-action d-flex align-items-center active gap-2">
                                                        <svg style="stroke-width: 2.5"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             class="icon icon-tabler icon-tabler-user-edit me-1"
                                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                             stroke="currentColor"
                                                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                                            <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"></path>
                                                        </svg>
                                                        Менің Профильім</a>
                                                    <a href="#leaderboard"
                                                       class="list-group-item list-group-item-action d-flex align-items-center gap-2"
                                                       data-bs-toggle="tab">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             style="stroke-width: 2.5"
                                                             class="icon icon-tabler icon-tabler-award"
                                                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                             stroke="currentColor"
                                                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0"></path>
                                                            <path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889"></path>
                                                            <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"></path>
                                                        </svg>
                                                        Leaderboard</a>

                                                    <h4 class="subheader ps-3 mt-4">Статистика</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-content col">
                                            <div class="tab-pane active" id="my-profile">
                                                {% include 'users/partials/profile_picture_form.html' %}
                                            </div>
                                            <div class="tab-pane" id="my-test">
                                                {% include 'users/partials/test-results.html' %}
                                            </div>
                                            <div class="tab-pane" id="leaderboard">
                                                {% include 'users/partials/quiz-leaderboards.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal modal-blur fade" id="modal-password" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        {% include 'users/partials/change_password_form.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto right-sidebar d-none d-md-block">
                            <h2><a href="{% url 'calendarapp:calendar' %}">Күнтізбе</a></h2>
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="w-100 vanilla-calendar" id="calendar-kz-lang">

                                </div>
                            </div>
                            <h2 class="mt-2"><a href="{% url 'calendarapp:calendar' %}">Тапсырмалар</a></h2>
                            <div class="card tasks">{% for event in running_events %}
                                {% if event.assignment %}
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-4 text-center">
                                                <h2 class="text-reset mb-0">{{ event.assignment.deadline|date:"G:i" }}</h2>
                                                <h3 class="mb-0 ">{{ event.assignment.deadline|date:"d.m" }}</h3>
                                            </div>
                                            <div class="col-auto"><span class="badge"
                                                                        style="height: 2rem;background-color: {{ event.assignment.deadline|event_color }}"></span>
                                            </div>
                                            <div class="col text-truncate">
                                                <a href="{% if event.url %}{{ event.url }}{% else %}#{% endif %}"
                                                   class="text-reset d-block">{{ event.assignment.title }}</a>
                                                <div class="d-block text-muted text-truncate mt-n1">Үй жұмысы
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elif event.quiz %}
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-4 text-center">
                                                <h2 class="text-reset mb-0">{{ event.quiz.end_time|date:"G:i" }}</h2>
                                                <h3 class="mb-0 ">{{ event.quiz.end_time|date:"d.m" }}</h3>
                                            </div>
                                            <div class="col-auto"><span class="badge"
                                                                        style="height: 2rem; background-color: {{ event.quiz.end_time|event_color }}"></span>
                                            </div>
                                            <div class="col text-truncate">
                                                <a href="{% if event.url %}{{ event.url }}{% else %}#{% endif %}"
                                                   class="text-reset d-block">{{ event.quiz.title }}</a>
                                                <div class="d-block text-muted text-truncate mt-n1">Бақылау
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script>
        imageBox = document.querySelector('#profile-picture-box');
        imageBox.addEventListener('change', (event) => {
            let reader = new FileReader();
            reader.onload = (e) => {
                let output = document.getElementById('output-box');
                output.style.backgroundImage = `url("${reader.result}")`;
            }
            reader.readAsDataURL(event.target.files[0]);
        });
        profileForm = document.getElementById('profile-form')
        resetBtn = document.getElementById('reset-btn');
        resetBtn.addEventListener('click', () => {
            let output = document.getElementById('output-box');
            let profilePictureURL = '{{ profile.picture.url }}';
            output.style.backgroundImage = `url("${profilePictureURL}")`;
        })
    </script>
    <script>
        attempts = document.querySelectorAll('[data-attempt_score]');
        attempts.forEach((attempt) => {
                var options = {
                    chart: {
                        height: 270,
                        type: 'radialBar',
                    },
                    series: attempt.dataset.attempt_score.trim().split(',').map(parseFloat),
                    plotOptions: {
                        radialBar: {
                            dataLabels: {
                                total: {
                                    show: true,
                                    label: 'Орташа Нәтиже',
                                    formatter: function (w) {
                                        return (w.globals.seriesTotals.reduce((a, b) => {
                                            return (a + b)
                                        }, 0) / (w.globals.seriesTotals.length * 100) * 100).toFixed(2) + "%"
                                    }
                                }
                            }
                        }
                    },
                    labels: attempt.dataset.label.split(','),
                }
                console.log(options.series)
                var chart = new ApexCharts(attempt, options);

                chart.render();
            }
        )
        ;
    </script>
    <script>
        // tab activate
        $(function () {
            var hash = window.location.hash;
            hash && $('list-group a[href="' + hash + '"]').tab('show');
            $('.list-group-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
        $('.list-group-tabs a').click(function (e) {
            $(this).tab('show');
        });
    </script>
{% endblock %}