{% extends 'base/content.html' %}
{% load static %}
{% load quiz_tags %}
{% block body %}
    <h1>Бағдарламалау Тапсырмалары</h1>
    <div class="row">
        <div class="col-6 offset-3 my-4">
            <img src="{% static 'images/alua1.svg' %}" width="100%">
        </div>
    </div>
    <div class="card">
        <div class="table-responsive">
            <table
                    class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>Атауы</th>
                    <th>Қиындығы</th>
                    <th>Күйі</th>
                    {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
                        <th class="w-1"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% include 'problems/partails/problem-list-body.html' %}
                </tbody>
                {% if request.user|has_group:"Moderators" or request.user|has_group:"Teachers" or request.user.is_superuser %}

                    <tr>
                        <td colspan="12">
                            <a href="{% url 'problems:add-problem' %}" class="btn btn-outline-edu w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 5l0 14"></path>
                                    <path d="M5 12l14 0"></path>
                                </svg>
                                Бағдарламалау тапсырмасын
                                қосу</a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}