{% extends 'base/content.html' %}
{% load quiz_tags %}
{% block body %}
    <h1>Бағдарламалау Тапсырмалары</h1>
    <div class="card">
        <div class="table-responsive">
            <table
                    class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>Атауы</th>
                    <th>Қиындығы</th>
                    <th>Күйі</th>
                    <th>Тапсыру</th>
                </tr>
                </thead>
                <tbody>
                {% for problem in problems %}
                    <tr>
                        <td>{{ problem.title }}</td>
                        <td>{% if problem.difficulty == 1 %}
                            <span class="badge bg-teal">{{ problem.get_difficulty_display }}</span>
                        {% elif problem.difficulty == 2 %}
                            <span class="badge bg-yellow">{{ problem.get_difficulty_display }}</span>
                            {% elif problem.difficulty == 3 %}
                            <span class="badge bg-danger">{{ problem.get_difficulty_display }}</span>
                        {% endif %} </td>
                        <td>{% if problem|problem_is_accepted:request.user %}
                            <span class="badge bg-green">Шешілген</span>{% else %}<span class="badge bg-danger-lt">Шешілмеген</span>{% endif %}</td>
                        <td>
                            <a href="{% url 'problems:problem-detail' problem.slug %}"
                               class="btn btn-outline-azure">
                                Тапсыру
                            </a>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}