{% load quiz_tags %}
{% for lesson in lessons %}
    <div class="col-12" id="lesson-{{ lesson.id }}">
        <div class="card">
            <div class="row row-0">
                <div class="col-4">
                    <!-- Photo -->
                    <img src="{{ lesson.banner.url }}"
                         class="w-100 h-100 object-cover card-img-start"
                         alt="Beautiful blonde woman relaxing with a can of coke on a tree stump by the beach">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex gap-2 justify-content-between"><span
                                class="text-muted">№ {{ forloop.revcounter }} Сабақ</span>
                            <div>
                                {% if request.user|has_group:"Teachers" or request.user|has_group:"Moderators" or request.user.is_superuser %}
                                    <a href="lesson-{{ lesson.id }}" hx-get="{% url 'update-lesson' lesson.pk %}"
                                       _="on htmx:afterRequest call reinitialize()"
                                       hx-target="#lesson-{{ lesson.id }}" class="btn">Өзгерту
                                    </a>
                                    <a href="lesson-{{ lesson.id }}" hx-post="{% url 'delete_lesson' lesson.pk %}"
                                       hx-target="#lessons" class="btn btn-danger">Жою
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <h2 class="card-title"><a
                                href="{{ lesson.document.url }}"
                                target="_blank">{{ lesson.title }}</a>
                        </h2>
                        <p class="text-muted">{{ lesson.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
