.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://static.tildacdn.com/tild3666-6666-4161-a437-333237313766/Framsasae_92526-2_1-.png") top no-repeat;
    background-size: cover;
}

.hero-section .title {
    color: #fff;
}

.contact-form {
    background-color: #fa5e37;
    color: #fff !important;
}