@counter-style circled-alpha {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}

.navbar-brand-image {
    height: auto;
}

.navbar-nav .nav-item {
    font-size: 1rem;
}

.navbar-dark {
    --navbar-bg-color: #0a4368;
    background: var(--navbar-bg-color);
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-nav {
        flex-direction: column;
        flex-grow: 0;
        justify-content: space-evenly;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
        padding: 0.8rem 1.5rem;
    }


    .navbar-vertical.navbar-expand-lg {
        width: 17rem;
    }

    .navbar-expand-lg.navbar-vertical ~ .navbar,
    .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
        margin-left: 17rem;
    }

    .navbar-expand-lg .navbar-dark .nav-item.active .nav-link,
    .navbar-expand-lg.navbar-dark .nav-item.active .nav-link {
        color: #0a4368;
    }

    .navbar-expand-lg .navbar-dark .nav-item.active .nav-link,
    .navbar-expand-lg.navbar-dark .nav-item.active {
        background-color: azure;
    }
}

.nav-tabs .nav-link {
    font-weight: 600;
    border: 0;
    color: #7b7d82;
}

.nav-tabs {
    border: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0a4368;
    font-weight: 800;

}

.right-sidebar {
    margin-top: 1.75rem;
}


.card.tasks {
    border: 0;
}

.tasks {
    background-color: transparent;
}

.tasks > .list-group > .list-group-header {
    text-align: center;
    font-size: 1rem;
    border: 0;
    padding-block: 1rem;
}

.tasks > .list-group > .list-group-item {
    padding: 1.2rem;
    background-color: transparent;
}

.tasks > .list-group > .list-group-item > .row > .col-auto > .badge {
    width: 0.4rem;
    height: 2rem !important;
}

.search-bar > input, .search-bar > a {
    border-radius: 0;
}

.search-bar > a {
    background-color: #0a4368;
}

.bg-edu-primary {
    background-color: #0a4368;
}


.alert.alert-error {
    border-left: 0.25rem solid red;
}


.profile-avatar:hover {
    height: 8rem;
    width: 8rem;
}

.profile-avatar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 55, 0.5), rgba(0, 0, 55, 0.5));
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.profile-avatar:hover::before {
    opacity: 1;
}

.profile-avatar > svg {
    display: none;
    width: 64px;
    height: 64px;
    stroke-width: 2;
    color: white;
}

.profile-avatar:hover > svg {
    display: block !important;
    z-index: 2;
}

.image-upload-box > svg {
    display: block;
    width: 128px;
    height: 128px;
    stroke-width: 2;
    color: var(--navbar-bg-color);
}

.navbar-nav.content-sidebar > li.active.nav-item {
    background-color: #E15431;
    border-radius: 0.5rem;
}

.navbar-nav.content-sidebar > li.active.nav-item > .nav-link {
    color: #fff;
}
.navbar-nav.content-sidebar > li.active.nav-item > .nav-link svg {
    stroke-width: 2;
}