@counter-style circled-alpha {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}

:root {
    --edu-primary: #0a4368;
}

.navbar-brand-image {
    height: auto;
}

.btn-outline-edu {
    border: 1px dashed var(--edu-primary);
}
.btn-outline-edu:hover {
    background-color: var(--edu-primary);
    color: #fff;
}

.navbar-nav .nav-item {
    font-size: 1rem;
}

.navbar-dark {
    --navbar-bg-color: #0a4368;
    background: var(--navbar-bg-color);
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-nav {
        flex-direction: column;
        flex-grow: 0;
        justify-content: space-evenly;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
        padding: 0.8rem 1.5rem;
    }


    .navbar-vertical.navbar-expand-lg {
        width: 17rem;
    }

    .navbar-expand-lg.navbar-vertical ~ .navbar,
    .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
        margin-left: 17rem;
    }

    .navbar-expand-lg .navbar-dark .nav-item.active .nav-link,
    .navbar-expand-lg.navbar-dark .nav-item.active .nav-link {
        color: #0a4368;
    }

    .navbar-expand-lg .navbar-dark .nav-item.active .nav-link,
    .navbar-expand-lg.navbar-dark .nav-item.active {
        background-color: azure;
    }
}

.lesson-tabs.nav-tabs .nav-link {
    font-weight: 600;
    border: 0;
    color: #7b7d82;
}

.lesson-tabs.nav-tabs {
    border: 0;
}

.lesson-tabs.nav-tabs .nav-item.show .nav-link,
.lesson-tabs.nav-tabs .nav-link.active {
    color: #0a4368;
    font-weight: 800;

}

.right-sidebar {
    margin-top: 1.75rem;
}


.card.tasks {
    border: 0;
}

.tasks {
    background-color: transparent;
}

.tasks > .list-group > .list-group-header {
    text-align: center;
    font-size: 1rem;
    border: 0;
    padding-block: 1rem;
}

.tasks > .list-group > .list-group-item {
    padding: 1.2rem;
    background-color: transparent;
}

.tasks > .list-group > .list-group-item > .row > .col-auto > .badge {
    width: 0.4rem;
    height: 2rem !important;
}

.search-bar > input, .search-bar > a {
    border-radius: 0;
}

.search-bar > a {
    background-color: #0a4368;
}

.search-bar input {
    min-width: 400px;
}

.bg-edu-primary {
    background-color: #0a4368 !important;
}

thead.bg-edu-primary th {
    background-color: #0a4368 !important;
    color: #fff !important;
}

.alert.alert-error {
    border-left: 0.25rem solid red;
}


.profile-avatar:hover {
    height: 8rem;
    width: 8rem;
}

.avatar-upload::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 55, 0.5), rgba(0, 0, 55, 0.5));
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.avatar-upload:hover::before {
    opacity: 1;
}

.profile-avatar > svg {
    display: none;
    width: 64px;
    height: 64px;
    stroke-width: 2;
    color: white;
}

.profile-avatar:hover > svg {
    display: block !important;
    z-index: 2;
}

.image-upload-box > svg {
    display: block;
    width: 128px;
    height: 128px;
    stroke-width: 2;
    color: var(--navbar-bg-color);
}

.navbar-nav.content-sidebar > li.active.nav-item {
    background-color: #E15431;
    border-radius: 0.5rem;
}

.navbar-nav.content-sidebar > .nav-item > .nav-link svg {
    stroke-width: 2;
}

.navbar-nav.content-sidebar > li.active.nav-item > .nav-link {
    color: #fff;
}

.navbar-nav.content-sidebar > li.active.nav-item > .nav-link svg {
    stroke-width: 2.5;
}


.form-selectgroup-item > input[disabled] ~ .form-selectgroup-label, .form-selectgroup-item > input:disabled ~ .form-selectgroup-label {
    cursor: default;
    opacity: .7;
}

.form-selectgroup-item > input[disabled] ~ .form-selectgroup-label > form-selectgroup-check, .form-selectgroup-item > input:disabled ~ .form-selectgroup-label > form-selectgroup-check {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.datagrid {
    --tblr-datagrid-padding: 1.5rem;
    --tblr-datagrid-item-width: 15rem;
    display: grid;
    grid-gap: var(--tblr-datagrid-padding);
    grid-template-columns:repeat(auto-fit, minmax(var(--tblr-datagrid-item-width), 1fr))
}

.datagrid-title {
    font-size: .625rem;
    font-weight: var(--tblr-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1rem;
    color: var(--tblr-muted);
    margin-bottom: .25rem
}

.card-stamp {
    --tblr-stamp-size: 7rem;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--tblr-stamp-size) * 1);
    height: calc(var(--tblr-stamp-size) * 1);
    max-height: 100%;
    border-top-right-radius: 4px;
    opacity: .2;
    overflow: hidden;
    pointer-events: none
}

.card-stamp-lg {
    --tblr-stamp-size: 13rem
}

.card-stamp-icon {
    background: var(--tblr-muted);
    color: var(--tblr-card-bg, var(--tblr-bg-surface));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100rem;
    width: calc(var(--tblr-stamp-size) * 1);
    height: calc(var(--tblr-stamp-size) * 1);
    position: relative;
    top: calc(var(--tblr-stamp-size) * -.25);
    right: calc(var(--tblr-stamp-size) * -.25);
    font-size: calc(var(--tblr-stamp-size) * .75);
    transform: rotate(10deg)
}

.card-stamp-icon .icon {
    stroke-width: 2;
    width: calc(var(--tblr-stamp-size) * .75);
    height: calc(var(--tblr-stamp-size) * .75)
}